* {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    height: 10vh;
    background-color: #332D41;
    color : #CCC2DC;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* button 스타일 */
button {
    margin: 1vh;
    width: 50vw;
    max-width: 200px;
    border: none;
    border-radius: 8px;
    background-color: #EADDFF;
    color: #381E72;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none; 
    cursor: pointer;
  }
  
button:active, button:hover {
    background-color:#381E72;
    color:  #EADDFF;
}  

section {
    width : 50%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

form { 
    display: flex;
    justify-content: center;
    align-items: center; 
}

/*radio*/
/* Labels for checked inputs */
input:checked + label {
    color: red;
  }
  
/* Radio element, when checked */
input[type="radio"] {
    display: none;
}
input[type="radio"] + label {
    display: inline-block;
    padding: 8px 10px;
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
}

input[type="radio"]:checked + label {
    background-color: #113a6b;
    color: #ffffff;
}

fieldset {
    width: 60%; 
    padding: 2vw 2vw;
    font-size: 2vw;
    border: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
}
